button {
  background: none;
  border: none;
  border-radius: var(--border-radius-1);
}

button:hover {
  cursor: pointer;
}

.button-big {
  padding: 0.8125rem 1.25rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: var(--font-family-1);
  font-weight: var(--font-weight-2);
}

.button-big:hover {
  background-color: var(--color-primary-2);
  color: var(--color-grey-1);
}

.button-small {
  height: 2.5rem;
  padding: 0 0.9375rem;
  background-color: var(--color-grey-2);
  color: var(--color-grey-3);
  font-family: var(--font-family-2);
}

.button-small:hover {
  background-color: var(--color-grey-3);
  color: var(--color-grey-1);
}

.button-small:focus,
.button-selected {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.attention {
  animation: btn-animation 0.5s linear 1s infinite both;
}

@keyframes btn-animation {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-0.125rem, 0.125rem);
  }
  40% {
    transform: translate(-0.125rem, -0.125rem);
  }
  60% {
    transform: translate(0.125rem, 0.125rem);
  }
  80% {
    transform: translate(0.125rem, -0.125rem);
  }
  100% {
    transform: translate(0);
  }
}
