.dashboard {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 983px;
  justify-content: space-between;
  animation: pageIn 0.5s ease-in-out;
}

.dashboard > section {
  margin-top: 40px;
}

@media only screen and (max-width: 600px) {
  .dashboard {
    width: 100%;
    flex-direction: column;
    padding: 0 15px;
  }

  .dashboard > section > form,
  .dashboard .total-money {
    width: 100%;
  }
}

@keyframes pageIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
