.summary {
  width: 560px;
  /* border: 1px solid green; */
}

.summary div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

@media only screen and (max-width: 600px) {
  .summary {
    width: 100%;
    /* padding: 0 15px; */
  }

  .summary > div {
    flex-direction: column;
    width: 100%;
    /* padding: 0 15px; */
  }
}
