.summary {
  width: 35rem;
}

.summary div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 37.5rem) {
  .summary {
    width: 100%;
  }

  .summary > div {
    flex-direction: column;
    width: 100%;
  }
}
