header {
  display: flex;
  height: 5.5rem;
  background: var(--color-grey-1);
  box-shadow: 0rem 0.25rem 2rem -0.75rem rgba(0, 0, 0, 0.25);
  flex-wrap: nowrap;
}

header > div {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 61.4375rem;
}

@media only screen and (max-width: 37.5rem) {
  header {
    width: 100%;
  }

  header > div {
    padding: 0 0.9375rem;
    width: 100%;
  }
}
