.total-money {
  width: 363px;
  border: 1px solid var(--color-grey-2);
  border-radius: var(--border-radius-2);
  margin-top: 16px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  /* display: none; */
}

.total-money div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-money span {
  color: var(--color-primary);
}
